<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="header">

        <h1>Order Logs</h1>

        <div id="clock" class="clock"></div>
    </div>

    <ul id="log-list" style="list-style-type:none;">
        {% for log in logs %}
            <li>{{ log }}</li>
        {% endfor %}
    </ul>

    <a href={{url_for('logout')}}>Click Here to Logout</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>

</body>

</html>
